---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Model from '../components/Model.astro';
---

<Layout title="Demo Web">
	<main>
		<Header/>
		<Model/>
	</main>
</Layout>

<style>

</style>