---
let title = 'RobotLab'
---
<header>
    <div>
        <h1 class="title">{title}</h1>
    </div>
</header>
<style>
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 102%;
        height: 100px;
        background-color: black;
        color: white;

    }

    .title {
        font-size: 2em;
    }
</style>