<div class="info">
    <div class="title_information">
    <h1> Mars <br>2020: <br>Perseverance <br>Rover</h1>
    </div>
    <div class="informacion">
    <p>
        NASA’s Mars Perseverance rover will seek signs of ancient life and collects samples of rock and regolith for possible Earth return.
    </p>
    <p>
        The Mars 2020 Perseverance Rover will search for signs of ancient microbial life, which will advance NASA's quest to explore the past habitability of Mars. The rover has a drill to collect core samples of Martian rock and soil, then store them in sealed tubes for pickup by a future mission that would return them to Earth for detailed analysis. Perseverance will also test technologies to help pave the way for future human exploration
    </p>
</div> 
</div>
<style>
    
    .info {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: left;
        background-image: url('model/Mars_Perseverance.png');
        background-size: cover; /* Esto hará que la imagen cubra todo el div */
        background-repeat: no-repeat; /* Esto evitará que la imagen se repita */
        background-position: center;
        flex-direction: column;
    }
    .title_information {
            margin-left: 5.2vh;
            padding: 1vh;
        }
    .informacion{
        padding: 1vh;
        margin-left: 5vh;
        margin-top: 5vh;
        width: 40%;
        border: 2px solid white;
        border-radius: 10px;
    }
    .info h1 {
        font-size: 400%;
        font-weight: bold;
        color: white;
        margin-bottom: 20px;

    }
    .info p {
        font-size: 1.5em;
        color: white;
    }